Repository TLS-The-Last-Stop/edututor, pull requests merged in 2024-11, with the labels that each got.

#54 권한에 따른 요청 분기
  Backend/edututor/src/main/java/com/tls/edututor/security/SecurityConfig.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/request/AdminRequest.java
  Backend/edututor/src/main/java/com/tls/edututor/user/jwt/JwtFilter.java
  Backend/edututor/src/main/java/com/tls/edututor/user/repository/UserRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/CustomUserDetailsService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/UserServiceImpl.java
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/assets/icon/ai.png
  Frontend/edututor/src/assets/icon/db.png
  Frontend/edututor/src/assets/icon/블로그.png
  Frontend/edututor/src/assets/icon/시각화.png
  Frontend/edututor/src/assets/icon/인스타.png
  Frontend/edututor/src/assets/icon/평가.png
  Frontend/edututor/src/components/admin/AdminHeader.jsx
  Frontend/edututor/src/components/admin/AdminLoginForm.jsx
  Frontend/edututor/src/components/common/Footer.jsx
  Frontend/edututor/src/components/common/Header.jsx
  Frontend/edututor/src/components/main/CourseSection.jsx
  Frontend/edututor/src/components/main/InfoSection.jsx
  Frontend/edututor/src/pages/admin/AdminLogin.jsx
  Frontend/edututor/src/pages/course/CoursePage.jsx
  Frontend/edututor/src/pages/main/Home.jsx
  Frontend/edututor/src/utils/AuthContext.jsx
  Frontend/edututor/src/utils/ProtectedRoute.jsx
Labels: 🎨 Design, 📺FrontEnd, 💾BackEnd

#55 AdminLogin 에서 async await 추가
  Frontend/edututor/src/pages/admin/AdminLogin.jsx
  Frontend/edututor/src/utils/AuthContext.jsx
Labels: 🐞 BugFix, 📺FrontEnd

#56 AuthContext에서 useEffect 의존성 변경
  Frontend/edututor/src/components/admin/AdminHeader.jsx
  Frontend/edututor/src/utils/AuthContext.jsx
Labels: 🐞 BugFix, 📺FrontEnd

#60 참여현황, 성취도 추가
  Backend/edututor/src/main/java/com/tls/edututor/report/repository/ShareTestRepository2.java
  Backend/edututor/src/main/java/com/tls/edututor/report/repository/UserTestRepository2.java
  Backend/edututor/src/main/java/com/tls/edututor/report/service/impl/ReportServiceImpl.java
Labels: ✨ Feature, 💾BackEnd

#64 참여현황, 성취도 다시 올림
  Backend/edututor/src/main/java/com/tls/edututor/report/repository/ShareTestRepository2.java
  Backend/edututor/src/main/java/com/tls/edututor/report/repository/UserTestRepository2.java
  Backend/edututor/src/main/java/com/tls/edututor/report/service/impl/ReportServiceImpl.java
Labels: ✨ Feature, 💾BackEnd

#65 StudentQuestionStatus 수정
  Frontend/edututor/src/assets/css/ReportDetailPage.css
  Frontend/edututor/src/components/common/Header.jsx
  Frontend/edututor/src/components/report/StudentQuestionStatus.jsx
Labels: 🎨 Design, 📺FrontEnd

#66 ReportServiceImpl 수정
  Backend/edututor/src/main/java/com/tls/edututor/common/initilizer/DataInitializer.java
  Backend/edututor/src/main/java/com/tls/edututor/report/dto/response/UserTestResponse2.java
  Backend/edututor/src/main/java/com/tls/edututor/report/repository/QuestionRepository2.java
  Backend/edututor/src/main/java/com/tls/edututor/report/service/impl/ReportServiceImpl.java
Labels: 💾BackEnd

#67 학생 삭제, 수정 구현
  Backend/edututor/src/main/java/com/tls/edututor/classroom/controller/ClassroomController.java
  Backend/edututor/src/main/java/com/tls/edututor/classroom/service/ClassroomService.java
  Backend/edututor/src/main/java/com/tls/edututor/classroom/service/impl/ClassroomServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/security/SecurityConfig.java
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/UserController.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/request/UserSURequest.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/UserSTResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/user/entity/User.java
  Backend/edututor/src/main/java/com/tls/edututor/user/repository/UserRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/UserService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/UserServiceImpl.java
  Frontend/edututor/src/api/classroom/classroom.js
  Frontend/edututor/src/api/user/user.js
  Frontend/edututor/src/components/classroom/CreateStudent.jsx
  Frontend/edututor/src/components/classroom/CreateStudentModal.jsx
  Frontend/edututor/src/components/classroom/StudentDetailModal.jsx
  Frontend/edututor/src/components/classroom/StudentList.jsx
  Frontend/edututor/src/components/classroom/StudentListItem.jsx
  Frontend/edututor/src/components/exam/ExamShareModal.jsx
  Frontend/edututor/src/components/user/UserJoinForm.jsx
  Frontend/edututor/src/pages/classroom/Classroom.jsx
  Frontend/edututor/src/pages/user/UserJoin.jsx
Labels: 📺FrontEnd, 💾BackEnd

#68 ReportRepository 코드 리팩토링
  Backend/edututor/src/main/java/com/tls/edututor/course/courseclassroom/repository/CourseClassroomRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/question/repository/QuestionRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/repository/ShareTestRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/testpaper/repository/TestPaperRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/useransewer/repositroy/UserAnswerRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/usertest/repository/UserTestRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/report/repository/CourseClassroomRepository2.java
  Backend/edututor/src/main/java/com/tls/edututor/report/repository/QuestionRepository2.java
  Backend/edututor/src/main/java/com/tls/edututor/report/repository/ShareTestRepository2.java
  Backend/edututor/src/main/java/com/tls/edututor/report/repository/TestPaperRepository2.java
  Backend/edututor/src/main/java/com/tls/edututor/report/repository/UserAnswerRepository2.java
  Backend/edututor/src/main/java/com/tls/edututor/report/repository/UserTestRepository2.java
  Backend/edututor/src/main/java/com/tls/edututor/report/service/impl/ReportServiceImpl.java
Labels: 🔨 Refactor, 🎇 Clean up

#69 유저 주관식 답변에 대한 처리
  Backend/edututor/src/main/java/com/tls/edututor/common/initilizer/DataInitializer.java
  Backend/edututor/src/main/java/com/tls/edututor/config/RestTemplateConfig.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/useransewer/dto/request/UserAnswerRequest.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/usertest/adapter/UserTestAdapter.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/usertest/adapter/impl/UserTestAdapterImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/usertest/controller/UserTestController.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/usertest/dto/request/UserTestRequest.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/usertest/service/impl/UserTestServiceImpl.java
  Frontend/edututor/src/pages/exam/ExamPage.jsx
Labels: ✨ Feature, 📬 API, 📺 FrontEnd, 💾BackEnd

#70 빌드 설정 추가 및 암호화 설정
  Backend/edututor/Jenkinsfile
  Backend/edututor/build.gradle
  Backend/edututor/src/main/java/com/tls/edututor/common/controller/ServerCheckController.java
  Backend/edututor/src/main/java/com/tls/edututor/config/JasyptConfig.java
Labels: 📬 API, 🌏 Deploy, 💾BackEnd

#71 ReportServiceImpl 수정
  Backend/edututor/src/main/java/com/tls/edututor/report/service/impl/ReportServiceImpl.java
Labels: 🐞 BugFix

#72 검색 기능 추가
  Backend/edututor/src/main/java/com/tls/edututor/board/board/controller/BoardController.java
  Backend/edututor/src/main/java/com/tls/edututor/board/board/repository/BoardRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/board/board/service/BoardService.java
  Backend/edututor/src/main/java/com/tls/edututor/board/board/service/impl/BoardServiceImpl.java
Labels: ✨ Feature, 💾BackEnd

#73 검색 기능 추가
  Frontend/edututor/src/api/board/board.js
  Frontend/edututor/src/pages/board/Board.jsx
Labels: ✨ Feature, 📺 FrontEnd

#74 헤더 css 및 시험공유 모달 수정
  Backend/edututor/src/main/java/com/tls/edututor/classroom/controller/ClassroomController.java
  Backend/edututor/src/main/java/com/tls/edututor/classroom/service/impl/ClassroomServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/controller/ShareTestController.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/repository/ShareTestRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/security/SecurityConfig.java
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/UserController.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/UserSTResponse.java
  Frontend/edututor/src/api/user/school.js
  Frontend/edututor/src/components/common/Header.jsx
  Frontend/edututor/src/components/exam/ExamShareModal.jsx
  Frontend/edututor/src/pages/course/CoursePage.jsx
  Frontend/edututor/src/pages/user/UserJoin.jsx
  Frontend/edututor/src/utils/AuthContext.jsx
Labels: 🎨 Design, 📺 FrontEnd

#75 ExamShareModal fetchAllStudent 수정
  Frontend/edututor/src/components/exam/ExamShareModal.jsx
Labels: 🐞 BugFix

#76 과정 등록 시험지 등록에 대한 로직 전체적 수정 및 추가 구현
  Backend/edututor/src/main/java/com/tls/edututor/common/initilizer/DataInitializer.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/controller/CourseController.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/service/CourseService.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/service/impl/CourseServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/course/material/dto/request/MaterialRegisterRequest.java
  Backend/edututor/src/main/java/com/tls/edututor/course/material/dto/response/MaterialResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/course/material/entity/Material.java
  Backend/edututor/src/main/java/com/tls/edututor/course/material/service/impl/MaterialServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/question/dto/request/QuestionRegisterRequest.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/question/dto/response/QuestionResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/question/entity/Question.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/testpaper/dto/response/TestPaperResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/testpaper/service/impl/TestPaperServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/usertest/repository/UserTestRepository.java
  Frontend/edututor/src/assets/css/CourseCreationPage.css
  Frontend/edututor/src/assets/css/CourseListPage.css
  Frontend/edututor/src/assets/css/CoursePage.css
  Frontend/edututor/src/assets/css/MaterialCreationPage.css
  Frontend/edututor/src/assets/css/TestPaperCreationPage.css
  Frontend/edututor/src/assets/css/TestPreviewModal.css
  Frontend/edututor/src/components/admin/AdminSidebar.jsx
  Frontend/edututor/src/components/exam/TestPreviewModal.jsx
  Frontend/edututor/src/components/material/MaterialPreviewModal.jsx
  Frontend/edututor/src/pages/admin/CourseCreationPage.jsx
  Frontend/edututor/src/pages/admin/CourseListPage.jsx
  Frontend/edututor/src/pages/admin/MaterialCreationPage.jsx
  Frontend/edututor/src/pages/admin/MaterialDetailPage.jsx
  Frontend/edututor/src/pages/admin/TestPaperCreationPage.jsx
  Frontend/edututor/src/pages/course/CourseClassroomEnrollPage.jsx
  Frontend/edututor/src/pages/course/CoursePage.jsx
  Frontend/edututor/src/pages/course/CourseStudentPage.jsx
  Frontend/edututor/src/pages/exam/ExamPage.jsx
  Frontend/edututor/src/pages/material/MaterialDetailStudentPage.jsx
Labels: ✨ Feature, 🔨 Refactor, ⏳ Implementing, 📺 FrontEnd, 💾BackEnd

#77 고객센터 프론트 분리
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/assets/css/NoticePage.css
  Frontend/edututor/src/components/board/NoticeItem.jsx
  Frontend/edututor/src/components/board/NoticeList.jsx
  Frontend/edututor/src/components/common/Header.jsx
  Frontend/edututor/src/components/common/Pagination.jsx
  Frontend/edututor/src/components/report/ReportList.jsx
  Frontend/edututor/src/pages/board/Board.jsx
  Frontend/edututor/src/pages/board/Faq.jsx
  Frontend/edututor/src/pages/board/Inquiry.jsx
  Frontend/edututor/src/pages/board/Notice.jsx
  Frontend/edututor/src/pages/report/Report.jsx
Labels: ✨ Feature, 🎨 Design, ⏳ Implementing, 📺 FrontEnd

#79 parsing문제 해결 및 classroom response 생성
  Backend/edututor/src/main/java/com/tls/edututor/classroom/dto/response/ClassroomResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/school/dto/response/SchoolResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/CustomOAuthSuccessHandler.java
  Frontend/edututor/src/pages/user/OAuthSuccess.jsx
Labels: 🐞 BugFix

#82 header, footer css 수정
  Backend/edututor/src/main/java/com/tls/edututor/security/SecurityConfig.java
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/components/common/Footer.jsx
  Frontend/edututor/src/components/common/Header.jsx
  Frontend/edututor/src/components/common/UserStyledComponents.js
  Frontend/edututor/src/components/main/InfoSection.jsx
Labels: 🎨 Design, 📺 FrontEnd

#83 게시판 페이지 분리
  Backend/edututor/src/main/java/com/tls/edututor/board/board/dto/response/BoardResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/board/board/repository/BoardRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/board/board/service/impl/BoardServiceImpl.java
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/assets/css/NoticeDetailPage.css
  Frontend/edututor/src/components/board/NoticeItem.jsx
  Frontend/edututor/src/components/board/NoticeList.jsx
  Frontend/edututor/src/components/common/Header.jsx
  Frontend/edututor/src/pages/board/Notice.jsx
  Frontend/edututor/src/pages/board/NoticeDetail.jsx
Labels: 🎨 Design, ⏳ Implementing, 📺 FrontEnd, 💾BackEnd

#85 FAQ 화면 분리 및 수정
  Backend/edututor/src/main/java/com/tls/edututor/board/board/dto/response/BoardResponse.java
  Frontend/edututor/src/api/board/category.js
  Frontend/edututor/src/assets/css/BoardPage.css
  Frontend/edututor/src/assets/css/FaqPage.css
  Frontend/edututor/src/components/board/BoardList.jsx
  Frontend/edututor/src/components/board/Category.jsx
  Frontend/edututor/src/components/board/FaqItem.jsx
  Frontend/edututor/src/components/board/FaqList.jsx
  Frontend/edututor/src/components/board/NoticeItem.jsx
  Frontend/edututor/src/pages/board/Faq.jsx
  Frontend/edututor/src/pages/board/NoticeDetail.jsx
Labels: 🎨 Design, 📺 FrontEnd

#88 리포트 성취도 소수점 버림
  Backend/edututor/src/main/java/com/tls/edututor/report/service/impl/ReportServiceImpl.java
Labels: 🎇 Clean up

#89 1:1 문의 페이지 분리
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/assets/css/InquiryDetailPage.css
  Frontend/edututor/src/assets/css/InquiryForm.css
  Frontend/edututor/src/assets/css/NoticePage.css
  Frontend/edututor/src/components/board/BoardItem.jsx
  Frontend/edututor/src/components/board/BoardList.jsx
  Frontend/edututor/src/components/board/InquiryForm.jsx
  Frontend/edututor/src/components/board/InquiryItem.jsx
  Frontend/edututor/src/components/board/InquiryList.jsx
  Frontend/edututor/src/components/board/NoticeItem.jsx
  Frontend/edututor/src/pages/board/Board.jsx
  Frontend/edututor/src/pages/board/Inquiry.jsx
  Frontend/edututor/src/pages/board/InquiryDetail.jsx
  Frontend/edututor/src/pages/board/Notice.jsx
  Frontend/edututor/src/pages/board/NoticeDetail.jsx
Labels: 🎨 Design, 🗑️ Remove, ⏳ Implementing, 📺 FrontEnd

#91 헤더 css 수정 및 어드민 유저 관리 진행 중
  Backend/edututor/src/main/java/com/tls/edututor/classroom/controller/ClassroomController.java
  Backend/edututor/src/main/java/com/tls/edututor/classroom/service/ClassroomService.java
  Backend/edututor/src/main/java/com/tls/edututor/classroom/service/impl/ClassroomServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/config/MailConfig.java
  Backend/edututor/src/main/java/com/tls/edututor/security/SecurityConfig.java
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/MailController.java
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/UserController.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/request/FindUserRequest.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/UserResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/UserSUResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/UserTEResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/MailService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/UserService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/MailServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/UserServiceImpl.java
  Frontend/edututor/index.html
  Frontend/edututor/public/edututor.svg
  Frontend/edututor/public/favicon.png
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/api/user/user.js
  Frontend/edututor/src/assets/icon/subject/과학.png
  Frontend/edututor/src/assets/icon/subject/국어.png
  Frontend/edututor/src/assets/icon/subject/도덕.png
  Frontend/edututor/src/assets/icon/subject/사회.png
  Frontend/edututor/src/assets/icon/subject/수학.png
  Frontend/edututor/src/assets/icon/subject/역사.png
  Frontend/edututor/src/assets/icon/subject/영어.png
  Frontend/edututor/src/components/admin/AdminLoginForm.jsx
  Frontend/edututor/src/components/admin/AdminUserDetailModal.jsx
  Frontend/edututor/src/components/admin/AdminUserList.jsx
  Frontend/edututor/src/components/common/ModalOverlayComponent.js
  Frontend/edututor/src/components/main/CourseSection.jsx
  Frontend/edututor/src/components/user/FindLoginInfoModal.jsx
  Frontend/edututor/src/pages/admin/AdminLogin.jsx
  Frontend/edututor/src/pages/admin/AdminUser.jsx
  Frontend/edututor/src/pages/user/StudentLogin.jsx
  Frontend/edututor/src/utils/AuthContext.jsx
  Frontend/edututor/src/utils/ProtectedRoute.jsx
  Frontend/edututor/src/utils/dateFormat.js
Labels: 🚨 Conflict, 🎨 Design, ⏳ Implementing, 📺 FrontEnd, 💾BackEnd

#92 repository false 제거 및 css 수정
  Backend/edututor/build.gradle
  Backend/edututor/src/main/java/com/tls/edututor/board/board/dto/response/BoardResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/classroom/controller/ClassroomController.java
  Backend/edututor/src/main/java/com/tls/edututor/classroom/service/ClassroomService.java
  Backend/edututor/src/main/java/com/tls/edututor/classroom/service/impl/ClassroomServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/entity/ShareTest.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/repository/ShareTestRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/report/dto/response/TestPaperResponse2.java
  Backend/edututor/src/main/java/com/tls/edututor/report/service/impl/ReportServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/security/SecurityConfig.java
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/UserController.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/UserSUResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/UserTEResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/user/entity/User.java
  Backend/edututor/src/main/java/com/tls/edututor/user/jwt/JwtFilter.java
  Backend/edututor/src/main/java/com/tls/edututor/user/repository/UserRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/UserService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/CustomOAuthSuccessHandler.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/CustomUserDetailsService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/MailServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/UserServiceImpl.java
  Frontend/edututor/package.json
  Frontend/edututor/public/vite.svg
  Frontend/edututor/src/api/user/user.js
  Frontend/edututor/src/components/board/InquiryItem.jsx
  Frontend/edututor/src/components/board/NoticeItem.jsx
  Frontend/edututor/src/components/common/Footer.jsx
  Frontend/edututor/src/components/common/Header.jsx
  Frontend/edututor/src/components/main/InfoSection.jsx
  Frontend/edututor/src/components/report/ReportItem.jsx
  Frontend/edututor/src/data/features.json
  Frontend/edututor/src/pages/board/Notice.jsx
  Frontend/edututor/src/pages/board/NoticeDetail.jsx
  Frontend/edututor/src/pages/user/TeacherLogin.jsx
Labels: ✨ Feature, 🐞 BugFix, 🎨 Design, 📬 API, ⏳ Implementing, 📺 FrontEnd, 💾BackEnd

#95 헤더 css 최종 수정
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/components/board/FaqList.jsx
  Frontend/edututor/src/components/common/Header.jsx
  Frontend/edututor/src/components/main/CourseSection.jsx
  Frontend/edututor/src/components/main/InfoSection.jsx
Labels: 🎨 Design, 📺 FrontEnd

#100 TeacherUpdateFormModal useEffect 수정
  Frontend/edututor/src/components/user/TeacherUpdateFormModal.jsx
Labels: 🐞 BugFix

#103 login css 수정
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/components/admin/AdminLoginForm.jsx
  Frontend/edututor/src/components/common/UserStyledComponents.js
  Frontend/edututor/src/components/user/UserJoinForm.jsx
  Frontend/edututor/src/pages/admin/AdminLogin.jsx
  Frontend/edututor/src/pages/user/TeacherLogin.jsx
Labels: 🎨 Design

#105 feat : 1대1 문의 답변 추가
  Backend/edututor/src/main/java/com/tls/edututor/board/answer/entity/Answer.java
  Backend/edututor/src/main/java/com/tls/edututor/board/answer/repository/AnswerRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/board/board/controller/BoardController.java
  Backend/edututor/src/main/java/com/tls/edututor/board/board/dto/response/BoardResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/board/board/entity/Board.java
  Backend/edututor/src/main/java/com/tls/edututor/board/board/service/BoardService.java
  Backend/edututor/src/main/java/com/tls/edututor/board/board/service/impl/BoardServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/report/service/impl/ReportServiceImpl.java
  Frontend/edututor/src/api/board/board.js
  Frontend/edututor/src/assets/css/InquiryDetailPage.css
  Frontend/edututor/src/assets/css/NoticePage.css
  Frontend/edututor/src/components/board/InquiryForm.jsx
  Frontend/edututor/src/components/board/InquiryItem.jsx
  Frontend/edututor/src/pages/board/InquiryDetail.jsx
Labels: ✨ Feature, ⏳ Implementing, 📺 FrontEnd, 💾BackEnd

#106 리포트 정답 여부 수정
  Frontend/edututor/src/api/board/board.js
  Frontend/edututor/src/assets/css/ReportDetailPage.css
  Frontend/edututor/src/components/report/StudentQuestionStatus.jsx
  Frontend/edututor/src/pages/board/InquiryDetail.jsx
Labels: 📺 FrontEnd

#107 css 수정
  Frontend/edututor/src/assets/icon/듬이.png
  Frontend/edututor/src/components/classroom/StudentListItem.jsx
  Frontend/edututor/src/components/common/Footer.jsx
  Frontend/edututor/src/components/common/UserStyledComponents.js
  Frontend/edututor/src/components/exam/ExamShareModal.jsx
  Frontend/edututor/src/pages/user/TeacherLogin.jsx
  Frontend/edututor/src/utils/SwalAlert.js
Labels: 🎨 Design

#108 공유하기 취소 가능
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/controller/ShareTestController.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/dto/request/ShareTestRequest.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/service/ShareTestServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/service/impl/ShareTestService.java
  Frontend/edututor/src/api/test-share/testShare.js
  Frontend/edututor/src/components/admin/AdminUserList.jsx
  Frontend/edututor/src/components/common/Header.jsx
  Frontend/edututor/src/components/exam/ExamShareModal.jsx
  Frontend/edututor/src/utils/AuthContext.jsx
Labels: ✨ Feature, 🐞 BugFix, 💾BackEnd

#109 course 관련 css 수정
  Frontend/edututor/src/assets/css/CourseClassroomEnrollPage.css
  Frontend/edututor/src/assets/css/CoursePage.css
  Frontend/edututor/src/components/common/Header.jsx
  Frontend/edututor/src/components/main/CourseSection.jsx
  Frontend/edututor/src/components/main/InfoSection.jsx
  Frontend/edututor/src/pages/course/CourseClassroomEnrollPage.jsx
  Frontend/edututor/src/pages/course/CoursePage.jsx
Labels: 🎨 Design

#110 alert -> Swal로 변경, react import 구문 제거
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/Layout/AdminLayout.jsx
  Frontend/edututor/src/components/admin/AdminSidebar.jsx
  Frontend/edututor/src/components/admin/AdminUserList.jsx
  Frontend/edututor/src/components/board/InquiryForm.jsx
  Frontend/edututor/src/components/classroom/CreateStudent.jsx
  Frontend/edututor/src/components/classroom/StudentListItem.jsx
  Frontend/edututor/src/components/common/Footer.jsx
  Frontend/edututor/src/components/exam/ExamShareModal.jsx
  Frontend/edututor/src/components/exam/TestPreviewModal.jsx
  Frontend/edututor/src/components/issue/IssueModal.jsx
  Frontend/edututor/src/components/main/CourseSection.jsx
  Frontend/edututor/src/components/material/MaterialPreviewModal.jsx
  Frontend/edututor/src/components/user/FindLoginInfoModal.jsx
  Frontend/edututor/src/components/user/OAuthUserJoinForm.jsx
  Frontend/edututor/src/components/user/SchoolSearchModal.jsx
  Frontend/edututor/src/components/user/UserJoinForm.jsx
  Frontend/edututor/src/pages/admin/CourseCreationPage.jsx
  Frontend/edututor/src/pages/admin/CourseDetailPage.jsx
  Frontend/edututor/src/pages/admin/CourseEditPage.jsx
  Frontend/edututor/src/pages/admin/CourseListPage.jsx
  Frontend/edututor/src/pages/admin/IssueListPage.jsx
  Frontend/edututor/src/pages/admin/MaterialCreationPage.jsx
  Frontend/edututor/src/pages/admin/MaterialDetailPage.jsx
  Frontend/edututor/src/pages/admin/MaterialEditPage.jsx
  Frontend/edututor/src/pages/admin/TestPaperCreationPage.jsx
  Frontend/edututor/src/pages/admin/TestPaperDetailPage.jsx
  Frontend/edututor/src/pages/classroom/Classroom.jsx
  Frontend/edututor/src/pages/course/CourseClassroomEnrollPage.jsx
  Frontend/edututor/src/pages/course/CoursePage.jsx
  Frontend/edututor/src/pages/course/CourseStudentPage.jsx
  Frontend/edututor/src/pages/exam/ExamPage.jsx
  Frontend/edututor/src/pages/main/Home.jsx
  Frontend/edututor/src/pages/material/MaterialDetailStudentPage.jsx
  Frontend/edututor/src/pages/user/AdditionalInfo.jsx
  Frontend/edututor/src/pages/user/StudentLogin.jsx
  Frontend/edututor/src/pages/user/TeacherLogin.jsx
  Frontend/edututor/src/pages/user/UserJoin.jsx
  Frontend/edututor/src/utils/ProtectedRoute.jsx
Labels: 🎨 Design

#111 회원가입 및 선생님 유저 수정
  Backend/edututor/src/main/java/com/tls/edututor/classroom/controller/ClassroomController.java
  Backend/edututor/src/main/java/com/tls/edututor/classroom/service/impl/ClassroomServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/UserController.java
  Backend/edututor/src/main/java/com/tls/edututor/user/entity/User.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/UserService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/UserServiceImpl.java
  Frontend/edututor/src/api/user/user.js
  Frontend/edututor/src/components/classroom/StudentDetailModal.jsx
  Frontend/edututor/src/components/main/CourseSection.jsx
  Frontend/edututor/src/components/user/OAuthUserJoinForm.jsx
  Frontend/edututor/src/components/user/TeacherUpdateFormModal.jsx
  Frontend/edututor/src/components/user/UserJoinForm.jsx
  Frontend/edututor/src/pages/admin/CourseListPage.jsx
  Frontend/edututor/src/pages/admin/IssueListPage.jsx
  Frontend/edututor/src/pages/admin/MaterialDetailPage.jsx
  Frontend/edututor/src/pages/admin/MaterialEditPage.jsx
  Frontend/edututor/src/pages/admin/TestPaperDetailPage.jsx
  Frontend/edututor/src/pages/board/InquiryDetail.jsx
  Frontend/edututor/src/pages/board/NoticeDetail.jsx
  Frontend/edututor/src/pages/course/CoursePage.jsx
  Frontend/edututor/src/pages/course/CourseStudentPage.jsx
  Frontend/edututor/src/pages/exam/ExamPage.jsx
  Frontend/edututor/src/pages/material/MaterialDetailStudentPage.jsx
  Frontend/edututor/src/pages/user/UserJoin.jsx
Labels: 🎨 Design, 💾BackEnd

#112 학생 course 페이지 css 수정
  Frontend/edututor/src/pages/course/CourseStudentPage.jsx
Labels: 🎨 Design

#113 CourseSection 드래그랑 필터 합침
  Backend/edututor/src/main/java/com/tls/edututor/classroom/service/impl/ClassroomServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/security/SecurityConfig.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/MailServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/UserServiceImpl.java
  Frontend/edututor/src/components/main/CourseSection.jsx
  Frontend/edututor/src/components/user/FindLoginInfoModal.jsx
Labels: 🐞 BugFix, 🎨 Design

#115 사용자 현황 통계, 선생님 탈퇴시 학생도 탈퇴
  Backend/edututor/src/main/java/com/tls/edututor/config/RedisConfig.java
  Backend/edututor/src/main/java/com/tls/edututor/security/SecurityConfig.java
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/UserController.java
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/UserStatisticsController.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/DailySignupStats.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/MonthlySignupStats.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/TeacherStudentCount.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/UserDeletedStats.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/UserDeletedStatsInterface.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/UserSignupStats.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/UserStatisticsResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/YearlySignupStats.java
  Backend/edututor/src/main/java/com/tls/edututor/user/repository/UserRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/UserService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/UserStatisticsService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/UserServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/UserStatisticsServiceImpl.java
  Frontend/edututor/package.json
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/api/user/user.js
  Frontend/edututor/src/components/admin/AdminSidebar.jsx
  Frontend/edututor/src/components/admin/AdminUserList.jsx
  Frontend/edututor/src/components/admin/AdminUserStatistic.jsx
  Frontend/edututor/src/utils/AuthContext.jsx
  Frontend/edututor/src/utils/ProtectedRoute.jsx
Labels: 📺 FrontEnd, 💾BackEnd

#116 test page, create test paper css 수정
  Frontend/edututor/src/components/common/AdminStyledComponent.jsx
  Frontend/edututor/src/pages/admin/CourseCreationPage.jsx
  Frontend/edututor/src/pages/admin/TestPaperCreationPage.jsx
Labels: 🎨 Design

#117 로그인 css 수정
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/components/common/Header.jsx
  Frontend/edututor/src/pages/user/UserLogin.jsx
Labels: 🎨 Design

#118 BoardServiceImpl 수정
  Backend/edututor/src/main/java/com/tls/edututor/board/board/service/impl/BoardServiceImpl.java
Labels: 🐞 BugFix

#119 CourseSection 예외처리, admin 로그인 후 localStorage 삭제
  Frontend/edututor/src/components/main/CourseSection.jsx
  Frontend/edututor/src/pages/admin/AdminLogin.jsx
Labels: 🐞 BugFix

#121 header css 수정
  Frontend/edututor/src/components/common/Header.jsx
Labels: 🐞 BugFix, 🎨 Design

#122 CourseSection 등록된 강의가 없을때 새 강의 등록하러가기 버튼 추가
  Frontend/edututor/src/components/main/CourseSection.jsx
Labels: 🎨 Design

#123 학습자료 등록, 수정 css 수정
  Frontend/edututor/src/pages/admin/MaterialCreationPage.jsx
  Frontend/edututor/src/pages/admin/MaterialEditPage.jsx
  Frontend/edututor/src/pages/user/UserLogin.jsx
Labels: 🎨 Design
