Repository TLS-The-Last-Stop/edututor, pull requests merged in 2024-10, with the labels that each got.

#8 app.jsx 구조 설정 및 관리자 페이지 jsx 생성
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/Layout/AdminLayout.jsx
  Frontend/edututor/src/components/common/Header.jsx
  Frontend/edututor/src/components/common/Loading.jsx
  Frontend/edututor/src/pages/admin/AdminHome.jsx
  Frontend/edututor/src/pages/admin/AdminLogin.jsx
  Frontend/edututor/src/pages/main/Home.jsx
  Frontend/edututor/src/pages/user/UserJoin.jsx
  Frontend/edututor/src/pages/user/UserLogin.jsx
Labels: ✨ Feature, 🔨 Refactor, ⏳ Implementing, 📺FrontEnd

#10 회원가입 화면 작업
  Frontend/edututor/src/api/user/school.js
  Frontend/edututor/src/components/common/UserStyledComponents.js
  Frontend/edututor/src/components/user/UserJoinForm.jsx
  Frontend/edututor/src/pages/user/UserJoin.jsx
Labels: 📺FrontEnd

#11 카테고리 서버 구현
  Backend/edututor/src/main/java/com/tls/edututor/board/category/controller/CategoryController.java
  Backend/edututor/src/main/java/com/tls/edututor/board/category/dto/CategoryResult.java
  Backend/edututor/src/main/java/com/tls/edututor/board/category/entity/Category.java
  Backend/edututor/src/main/java/com/tls/edututor/board/category/repository/CategoryRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/board/category/service/CategoryService.java
  Backend/edututor/src/main/java/com/tls/edututor/board/category/service/impl/CategoryServiceImpl.java
Labels: 📬 API, 💾BackEnd

#12 회원가입 페이지 및 Feat/front/join
  Backend/edututor/src/main/java/com/tls/edututor/code/CodeDataInitializer.java
  Backend/edututor/src/main/java/com/tls/edututor/school/dto/request/SchoolRequest.java
  Backend/edututor/src/main/java/com/tls/edututor/school/entity/School.java
  Backend/edututor/src/main/java/com/tls/edututor/school/repository/SchoolRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/school/service/SchoolService.java
  Backend/edututor/src/main/java/com/tls/edututor/school/service/SchoolServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/UserController.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/request/UserTERequest.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/AuthUser.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/CustomUser.java
  Backend/edututor/src/main/java/com/tls/edututor/user/entity/User.java
  Backend/edututor/src/main/java/com/tls/edututor/user/jwt/JwtFilter.java
  Backend/edututor/src/main/java/com/tls/edututor/user/jwt/LoginFilter.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/CustomUserDetailsService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/UserService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/UserServiceImpl.java
  Frontend/edututor/src/api/user/school.js
  Frontend/edututor/src/api/user/user.js
  Frontend/edututor/src/components/common/UserStyledComponents.js
  Frontend/edututor/src/components/user/SchoolSearchModal.jsx
  Frontend/edututor/src/components/user/UserJoinForm.jsx
  Frontend/edututor/src/pages/user/UserJoin.jsx
Labels: ✨ Feature, 📬 API, ⏳ Implementing, 📺FrontEnd, 💾BackEnd

#13 codeRepository 폴더 생성 후 이동
  Backend/edututor/src/main/java/com/tls/edututor/code/codedetail/entity/CodeDetail.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codegroup/entity/CodeGroup.java
  Backend/edututor/src/main/java/com/tls/edututor/code/repository/CodeDetailRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/code/repository/CodeGroupRepository.java
Labels: 🏷️ Rename

#16 과정 등록 필터
  Backend/edututor/src/main/java/com/tls/edututor/code/codedetail/controller/CodeDetailController.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codedetail/service/CodeGroupService.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codedetail/service/impl/CodeDetailServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codegroup/controller/CodeGroupController.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codegroup/service/CodeDetailService.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codegroup/service/impl/CodeGroupServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/controller/CourseController.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/entity/Course.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/repository/CourseRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/service/CourseService.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/service/impl/CourseServiceImpl.java
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/pages/course/CourseRegister.jsx
Labels: ✨ Feature, 📺FrontEnd, 💾BackEnd

#19 회원가입 페이지 및 서버 구현
  Backend/edututor/build.gradle
  Backend/edututor/src/main/java/com/tls/edututor/classroom/dto/request/ClassroomRequest.java
  Backend/edututor/src/main/java/com/tls/edututor/classroom/entity/Classroom.java
  Backend/edututor/src/main/java/com/tls/edututor/classroom/service/ClassroomService.java
  Backend/edututor/src/main/java/com/tls/edututor/classroom/service/ClassroomServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/code/service/CodeService.java
  Backend/edututor/src/main/java/com/tls/edututor/code/service/CodeServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/common/exception/DuplicateUserException.java
  Backend/edututor/src/main/java/com/tls/edututor/common/exception/GlobalExceptionHandler.java
  Backend/edututor/src/main/java/com/tls/edututor/school/entity/School.java
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/UserController.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/request/UserTERequest.java
  Backend/edututor/src/main/java/com/tls/edututor/user/repository/UserRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/UserService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/UserServiceImpl.java
  Frontend/edututor/src/api/user/user.js
  Frontend/edututor/src/components/common/UserStyledComponents.js
  Frontend/edututor/src/components/user/UserJoinForm.jsx
  Frontend/edututor/src/pages/user/UserJoin.jsx
Labels: ✨ Feature, 🎨 Design, 📬 API, 📺FrontEnd, 💾BackEnd

#20 코드 리팩토링
  Backend/edututor/src/main/java/com/tls/edututor/code/codedetail/repository/CodeDetailRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codedetail/service/CodeService.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codedetail/service/CodeServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codedetail/service/impl/CodeDetailServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codegroup/repository/CodeGroupRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codegroup/service/impl/CodeGroupServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/common/initilizer/CodeDataInitializer.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/controller/CourseController.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/dto/response/CourseNameListResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/entity/Course.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/service/impl/CourseServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/course/material/entity/Material.java
  Backend/edututor/src/main/java/com/tls/edututor/course/material/service/impl/MaterialServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/course/section/entity/Section.java
  Backend/edututor/src/main/java/com/tls/edututor/course/unit/entity/Unit.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/testpaper/controller/TestPaperController.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/testpaper/entity/TestPaper.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/testpaper/service/impl/TestPaperServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/CustomUserDetailsService.java
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/assets/css/TestPaperDetailPage.css
  Frontend/edututor/src/pages/admin/CourseDetailPage.jsx
  Frontend/edututor/src/pages/admin/CourseEditPage.jsx
  Frontend/edututor/src/pages/admin/TestPaperCreationPage.jsx
  Frontend/edututor/src/pages/admin/TestPaperDetailPage.jsx
Labels: 🔨 Refactor, 📺FrontEnd, 💾BackEnd

#22 로그인 화면, 서버 구현
  Backend/edututor/src/main/java/com/tls/edututor/security/SecurityConfig.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/AuthUser.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/CustomUser.java
  Backend/edututor/src/main/java/com/tls/edututor/user/entity/User.java
  Backend/edututor/src/main/java/com/tls/edututor/user/jwt/LoginFilter.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/CustomUserDetailsService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/UserServiceImpl.java
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/api/user/user.js
  Frontend/edututor/src/assets/icon/google.png
  Frontend/edututor/src/assets/icon/kakao.png
  Frontend/edututor/src/assets/icon/naver.png
  Frontend/edututor/src/assets/icon/student.png
  Frontend/edututor/src/assets/icon/teacher.png
  Frontend/edututor/src/components/common/UserStyledComponents.js
  Frontend/edututor/src/components/user/LoginType.jsx
  Frontend/edututor/src/pages/user/StudentLogin.jsx
  Frontend/edututor/src/pages/user/TeacherLogin.jsx
  Frontend/edututor/src/pages/user/UserLogin.jsx
Labels: ✨ Feature, ⏳ Implementing, 📺FrontEnd, 💾BackEnd

#23 게시판 통신 구현
  Backend/edututor/src/main/java/com/tls/edututor/board/board/controller/BoardController.java
  Backend/edututor/src/main/java/com/tls/edututor/board/board/dto/request/BoardRequest.java
  Frontend/edututor/src/api/axios.js
  Frontend/edututor/src/api/board/board.js
  Frontend/edututor/src/assets/css/BoardPage.css
  Frontend/edututor/src/components/board/BoardList.jsx
  Frontend/edututor/src/pages/board/Board.jsx
Labels: ✨ Feature, 🎨 Design, 📺FrontEnd

#25 Feat/front/classroom
  Backend/edututor/src/main/java/com/tls/edututor/classroom/entity/Classroom.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codedetail/repository/CodeDetailRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/school/entity/School.java
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/UserController.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/request/UserSURequest.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/request/UserTERequest.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/AuthUser.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/CustomUser.java
  Backend/edututor/src/main/java/com/tls/edututor/user/entity/User.java
  Backend/edututor/src/main/java/com/tls/edututor/user/jwt/JwtFilter.java
  Backend/edututor/src/main/java/com/tls/edututor/user/jwt/LoginFilter.java
  Backend/edututor/src/main/java/com/tls/edututor/user/repository/UserRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/CustomUserDetailsService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/UserService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/UserServiceImpl.java
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/api/user/user.js
  Frontend/edututor/src/components/classroom/CreateStudent.jsx
  Frontend/edututor/src/components/classroom/CreateStudentModal.jsx
  Frontend/edututor/src/components/classroom/StudentList.jsx
  Frontend/edututor/src/components/classroom/StudentListItem.jsx
  Frontend/edututor/src/components/common/Header.jsx
  Frontend/edututor/src/components/common/UserStyledComponents.js
  Frontend/edututor/src/components/user/UserJoinForm.jsx
  Frontend/edututor/src/pages/classroom/Classroom.jsx
  Frontend/edututor/src/pages/user/TeacherLogin.jsx
  Frontend/edututor/src/pages/user/UserJoin.jsx
Labels: ✨ Feature, 📺FrontEnd, 💾BackEnd

#28 로그인 토큰 처리 및 학생 등록
  Backend/edututor/src/main/java/com/tls/edututor/classroom/controller/ClassroomController.java
  Backend/edututor/src/main/java/com/tls/edututor/classroom/dto/request/ClassroomRequest.java
  Backend/edututor/src/main/java/com/tls/edututor/classroom/service/ClassroomService.java
  Backend/edututor/src/main/java/com/tls/edututor/classroom/service/ClassroomServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/security/SecurityConfig.java
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/RefreshController.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/request/UserSURequest.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/UpdateTokenResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/user/dto/response/UserSTResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/user/entity/Refresh.java
  Backend/edututor/src/main/java/com/tls/edututor/user/entity/User.java
  Backend/edututor/src/main/java/com/tls/edututor/user/jwt/JwtFilter.java
  Backend/edututor/src/main/java/com/tls/edututor/user/jwt/LoginFilter.java
  Backend/edututor/src/main/java/com/tls/edututor/user/repository/RefreshRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/user/repository/UserRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/RefreshService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/RefreshServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/UserServiceImpl.java
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/api/axios.js
  Frontend/edututor/src/api/classroom/classroom.js
  Frontend/edututor/src/api/user/user.js
  Frontend/edututor/src/components/classroom/CreateStudent.jsx
  Frontend/edututor/src/components/classroom/CreateStudentModal.jsx
  Frontend/edututor/src/components/classroom/EmptyState.jsx
  Frontend/edututor/src/components/classroom/StudentListItem.jsx
  Frontend/edututor/src/components/common/Header.jsx
  Frontend/edututor/src/components/user/UserJoinForm.jsx
  Frontend/edututor/src/pages/classroom/Classroom.jsx
  Frontend/edututor/src/pages/user/TeacherLogin.jsx
  Frontend/edututor/src/utils/ProtectedRout.jsx
  Frontend/edututor/src/utils/auth.js
Labels: ✨ Feature, 📬 API, ⏳ Implementing, 📺FrontEnd, 💾BackEnd

#31 공통 코드별 과정 필터 기능 구현
  Backend/edututor/src/main/java/com/tls/edututor/code/codedetail/controller/CodeDetailController.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codedetail/entity/CodeDetail.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codedetail/repository/CodeDetailRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codedetail/service/CodeGroupService.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codedetail/service/CodeService.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codedetail/service/CodeServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codedetail/service/impl/CodeDetailServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codegroup/controller/CodeGroupController.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codegroup/entity/CodeGroup.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codegroup/repository/CodeGroupRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codegroup/service/CodeDetailService.java
  Backend/edututor/src/main/java/com/tls/edututor/code/codegroup/service/impl/CodeGroupServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/controller/CourseController.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/dto/request/CourseFilterRequest.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/dto/request/CourseRegisterRequest.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/dto/response/CourseFilterResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/dto/response/CourseNameListResponse.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/entity/Course.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/repository/CourseRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/service/CourseService.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/service/impl/CourseServiceImpl.java
  Frontend/edututor/src/assets/css/CourseFilterPage.css
  Frontend/edututor/src/pages/course/CourseFilterPage.jsx
Labels: ✨ Feature, 📬 API, 📺FrontEnd, 💾BackEnd

#34 학생 로그인 구현
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/AuthController.java
  Frontend/edututor/src/pages/user/StudentLogin.jsx
  Frontend/edututor/src/pages/user/TeacherLogin.jsx
Labels: 📺FrontEnd

#37 리포트 상세보기 서버 구현
  Backend/edututor/src/main/java/com/tls/edututor/report/dto/response/UserTestResponse2.java
  Backend/edututor/src/main/java/com/tls/edututor/report/repository/QuestionRepository2.java
  Backend/edututor/src/main/java/com/tls/edututor/report/repository/UserAnswerRepository2.java
  Backend/edututor/src/main/java/com/tls/edututor/report/service/impl/ReportServiceImpl.java
Labels: ✨ Feature, 💾BackEnd

#38 유저 시험제출 로직 구현
  Backend/edututor/src/main/java/com/tls/edututor/exam/exam/controller/ExamController.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/exam/service/ExamService.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/exam/service/impl/ExamServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/question/repository/QuestionRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/useransewer/dto/request/UserAnswerRequest.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/usertest/controller/UserTestController.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/usertest/dto/request/UserTestRequest.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/usertest/service/UserTestService.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/usertest/service/impl/UserTestServiceImpl.java
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/assets/css/ExamPage.css
  Frontend/edututor/src/assets/css/QuestionList.css
  Frontend/edututor/src/components/exam/QuestionList.jsx
  Frontend/edututor/src/components/exam/QuestionNavigation.jsx
  Frontend/edututor/src/components/exam/SubmitButton.jsx
  Frontend/edututor/src/pages/exam/ExamPage.jsx
Labels: ✨ Feature, 📬 API, 📺FrontEnd, 💾BackEnd

#39 리포트 성취율 수정
  Backend/edututor/src/main/java/com/tls/edututor/report/service/impl/ReportServiceImpl.java
Labels: 🐞 BugFix, 🎇 Clean up

#40 요청 axios -> custom axios로 변경
  Backend/edututor/src/main/java/com/tls/edututor/school/entity/School.java
  Backend/edututor/src/main/java/com/tls/edututor/user/entity/Refresh.java
  Backend/edututor/src/main/java/com/tls/edututor/user/entity/User.java
  Backend/edututor/src/main/java/com/tls/edututor/user/exception/DuplicateUserException.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/UserServiceImpl.java
  Frontend/edututor/src/api/board/board.js
  Frontend/edututor/src/api/exam/ExamApi.js
  Frontend/edututor/src/api/user/school.js
  Frontend/edututor/src/api/user/user.js
  Frontend/edututor/src/pages/admin/CourseCreationPage.jsx
  Frontend/edututor/src/pages/admin/CourseDetailPage.jsx
  Frontend/edututor/src/pages/admin/CourseEditPage.jsx
  Frontend/edututor/src/pages/admin/CourseListPage.jsx
  Frontend/edututor/src/pages/admin/MaterialCreationPage.jsx
  Frontend/edututor/src/pages/admin/MaterialDetailPage.jsx
  Frontend/edututor/src/pages/admin/MaterialEditPage.jsx
  Frontend/edututor/src/pages/admin/TestPaperCreationPage.jsx
  Frontend/edututor/src/pages/admin/TestPaperDetailPage.jsx
  Frontend/edututor/src/pages/course/CourseFilterPage.jsx
  Frontend/edututor/src/pages/course/CoursePage.jsx
  Frontend/edututor/src/pages/course/CourseRegister.jsx
  Frontend/edututor/src/pages/exam/ExamPage.jsx
  Frontend/edututor/src/utils/ProtectedRout.jsx
Labels: 🐞 BugFix

#41 공유하기 모달창 구현
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/api/user/user.js
  Frontend/edututor/src/components/exam/ExamList.jsx
  Frontend/edututor/src/components/exam/ExamShareModal.jsx
  Frontend/edututor/src/pages/exam/ExamSharePage.jsx
Labels: 🎨 Design, 📺FrontEnd

#43 클래스룸-과정 연결 기능 구현
  Backend/edututor/src/main/java/com/tls/edututor/common/exception/GlobalExceptionHandler.java
  Backend/edututor/src/main/java/com/tls/edututor/common/initilizer/DataInitializer.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/controller/CourseController.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/entity/CourseClassroom.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/service/CourseService.java
  Backend/edututor/src/main/java/com/tls/edututor/course/course/service/impl/CourseServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/course/courseclassroom/repository/CourseClassroomRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/option/entity/Option.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/question/entity/Question.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/entity/ShareTest.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/repository/ShareTestRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/testpaper/entity/TestPaper.java
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/assets/css/CourseClassroomEnrollPage.css
  Frontend/edututor/src/assets/css/CourseFilterPage.css
  Frontend/edututor/src/assets/css/CoursePage.css
  Frontend/edututor/src/components/exam/ExamShareModal.jsx
  Frontend/edututor/src/components/main/MainSection.jsx
  Frontend/edututor/src/pages/course/CourseClassroomEnrollPage.jsx
  Frontend/edututor/src/pages/course/CourseFilterPage.jsx
  Frontend/edututor/src/pages/course/CoursePage.jsx
  Frontend/edututor/src/pages/course/CoursePageStudent.jsx
Labels: ✨ Feature, 📬 API, 📺FrontEnd, 💾BackEnd

#44 jwtFilter 시큐리티 컨텍스트 수정
  Backend/edututor/src/main/java/com/tls/edututor/security/SecurityConfig.java
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/UserController.java
  Backend/edututor/src/main/java/com/tls/edututor/user/jwt/JwtFilter.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/RefreshServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/UserServiceImpl.java
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/api/axios.js
  Frontend/edututor/src/components/common/Header.jsx
  Frontend/edututor/src/pages/user/StudentLogin.jsx
  Frontend/edututor/src/pages/user/TeacherLogin.jsx
  Frontend/edututor/src/utils/AuthContext.jsx
Labels: 🐞 BugFix

#47 공유하기 모달 마감일 추가
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/controller/ShareTestController.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/dto/request/ShareTestRequest.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/entity/ShareTest.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/service/ShareTestServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/service/impl/ShareTestService.java
  Backend/edututor/src/main/java/com/tls/edututor/school/service/SchoolService.java
  Backend/edututor/src/main/java/com/tls/edututor/school/service/impl/SchoolServiceImpl.java
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/AuthController.java
  Backend/edututor/src/main/java/com/tls/edututor/user/jwt/JwtFilter.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/UserServiceImpl.java
  Frontend/edututor/src/api/axios.js
  Frontend/edututor/src/api/test-share/testShare.js
  Frontend/edututor/src/api/user/user.js
  Frontend/edututor/src/components/exam/ExamShareModal.jsx
Labels: 🎨 Design

#51 리포트 상세페이지 구현
  Backend/edututor/src/main/java/com/tls/edututor/report/controller/ReportController.java
  Backend/edututor/src/main/java/com/tls/edututor/report/service/impl/ReportServiceImpl.java
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/api/report/report.js
  Frontend/edututor/src/assets/css/ReportDetailPage.css
  Frontend/edututor/src/components/report/ReportItem.jsx
  Frontend/edututor/src/components/report/ReportList.jsx
  Frontend/edututor/src/components/report/StudentQuestionStatus.jsx
  Frontend/edututor/src/components/report/SummarySection.jsx
  Frontend/edututor/src/pages/report/Report.jsx
  Frontend/edututor/src/pages/report/ReportDetail.jsx
Labels: ✨ Feature, 🐞 BugFix, 🚨 Conflict, 📬 API, 📺FrontEnd

#52 Feat/front/classification
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/controller/ShareTestController.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/entity/ShareTest.java
  Backend/edututor/src/main/java/com/tls/edututor/exam/sharetest/service/impl/ShareTestService.java
  Backend/edututor/src/main/java/com/tls/edututor/security/SecurityConfig.java
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/AuthController.java
  Backend/edututor/src/main/java/com/tls/edututor/user/controller/RefreshController.java
  Backend/edututor/src/main/java/com/tls/edututor/user/jwt/CustomLoginFilter.java
  Backend/edututor/src/main/java/com/tls/edututor/user/jwt/CustomLogoutFilter.java
  Backend/edututor/src/main/java/com/tls/edututor/user/jwt/JwtFilter.java
  Backend/edututor/src/main/java/com/tls/edututor/user/repository/RefreshRepository.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/RefreshService.java
  Backend/edututor/src/main/java/com/tls/edututor/user/service/impl/RefreshServiceImpl.java
  Frontend/edututor/src/App.jsx
  Frontend/edututor/src/api/user/user.js
  Frontend/edututor/src/assets/icon/custom-service.png
  Frontend/edututor/src/assets/icon/report.png
  Frontend/edututor/src/assets/icon/study.png
  Frontend/edututor/src/assets/icon/tutor.png
  Frontend/edututor/src/assets/icon/수학.jpg
  Frontend/edututor/src/components/classroom/CreateStudent.jsx
  Frontend/edututor/src/components/common/Header.jsx
  Frontend/edututor/src/components/main/CourseSection.jsx
  Frontend/edututor/src/components/main/MainSection.jsx
  Frontend/edututor/src/pages/admin/CourseListPage.jsx
  Frontend/edututor/src/pages/classroom/Classroom.jsx
  Frontend/edututor/src/pages/course/CourseClassroomEnrollPage.jsx
  Frontend/edututor/src/pages/course/CoursePage.jsx
  Frontend/edututor/src/pages/exam/ExamSharePage.jsx
  Frontend/edututor/src/pages/main/Home.jsx
  Frontend/edututor/src/utils/AuthContext.jsx
  Frontend/edututor/src/utils/ProtectedRoute.jsx
  Frontend/edututor/src/utils/auth.js
Labels: ✨ Feature, 🎨 Design, ⏳ Implementing, 📺FrontEnd, 💾BackEnd
